@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

nav {
  width: 100%;
  display: flex;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: unset;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-left: unset;
  width: 100%;
}

nav ul li {
  height: 90%;
  text-align: center;
  display: flex;
  align-items: center;
  transition: .2s;
}


nav ul li:first-child {
  width: 80%;
  text-align: left;
  font-size: 24px;
  flex-grow: 1;
}

nav ul li:first-child a {
  border-bottom: #FDE441 solid 8px;
  font-family: 'Lobster', cursive;
  margin: unset;
}

nav ul li:first-child a:hover {
  /* color: unset; */
}

nav a {
  text-decoration: none;
  color: var(--main-black);
  font-weight: bold;
  margin-left: 20px;
  border-bottom: var(--main-black) solid 3px;
  transition: .2s;
}

nav a:hover {
  color: #9B5DE6;
}



@media only screen and (max-width: 480px) {
  
  nav ul {
    font-size: 12px;
    margin-top: 20px;
  }

  nav ul li:first-child {
    width: 80%;
    font-size: 16px;
  }

  nav a:first-child {
    max-width: 60px;
  }  
}
  
@media only screen and (max-width: 799px) {
  nav ul li:first-child {
    width: 80%;
    text-align: left;
    font-size: 14px;
  }
}
