nav {
  background-color: black;
  color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: unset;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-right: 20px;
}

nav ul li {
  /* width: 10%; */
  height: 90%;
  text-align: center;
  display: flex;
  align-items: center;
}

nav ul li:hover a, nav ul li:hover {
  background-color: white;
  color: black;
}

nav ul li:first-child {
  width: 80%;
  text-align: left;
}

nav ul li:first-child:hover a, nav ul li:first-child:hover {
  background-color: unset;
  color: white;
}

nav ul li:nth-last-child(2) {
  border: solid white 1px;
  height: 40px;
  width: 10%;
  border-radius: 10px;
  text-align: unset;
}

nav ul li:nth-last-child(2) a {
  margin-left: auto;
  margin-right: auto;
}


nav ul li:last-child:hover a, nav ul li:last-child:hover {
  background-color: white;
  color: black;
}

nav ul li:last-child {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 5px;
}

nav ul li:last-child a {
  color: black;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 15px;
}