body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: black;
  color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: unset;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-right: 20px;
}

nav ul li {
  /* width: 10%; */
  height: 90%;
  text-align: center;
  display: flex;
  align-items: center;
}

nav ul li:hover a, nav ul li:hover {
  background-color: white;
  color: black;
}

nav ul li:first-child {
  width: 80%;
  text-align: left;
}

nav ul li:first-child:hover a, nav ul li:first-child:hover {
  background-color: unset;
  color: white;
}

nav ul li:nth-last-child(2) {
  border: solid white 1px;
  height: 40px;
  width: 10%;
  border-radius: 10px;
  text-align: unset;
}

nav ul li:nth-last-child(2) a {
  margin-left: auto;
  margin-right: auto;
}


nav ul li:last-child:hover a, nav ul li:last-child:hover {
  background-color: white;
  color: black;
}

nav ul li:last-child {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 5px;
}

nav ul li:last-child a {
  color: black;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 15px;
}

.container {
  text-align: center;
  height: 100vh;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.comments-grid {
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 25vh 1fr 1fr 1fr; */ 
  column-gap: 0.7rem;
  row-gap: 0.8rem;
}

.comment-card:nth-child(6n) {
  grid-column: 3 / 5;
}

.comment-card:nth-child(5) {
  grid-column: 1 / 3;
}

.comment-card:nth-child(11) {
  grid-column: 1 / 3;
}

input[type="submit"] {
  padding: 0;
}

.btn {
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.5s;
  border: none;
  z-index: 10;
  position: absolute;
  right: 0;
}

.btn:focus {
  outline: none;
}

.btn-save {
  border: none;
  font-weight: bold;
  background-color: unset;
  cursor: pointer;
  margin-top: 10px;
  padding: none !important;
  transition: color 0.3s;
}

.btn-save:active {
  outline: none;
  color: grey;
}

.btn-save:focus {
  outline: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 180px;
  position: relative;
}

.comment-create {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.add-form {
  width: 210px;
  text-align: left;
}

.form-control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.form-control input {
  border-bottom: solid 1px black;
  border-top: none;
  border-right: none;
  border-left: none;
}

.comment-card {
  border-radius: 10px;
  background-color: #F5FCFF;
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 3px 4px rgb(77 77 77 / 22%);
  transition: all 0.5s;
}

.comment-card:hover  {
  transform: translateY(-2px)
}

.comment-card:hover .delete {
  color: red;
  font-size: 16px;
  top: -0.1rem;
}


.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px ;
  background-color: #EFEFFF;
  border-radius: 10px 10px 0 0;
  height: 3.5rem;
  padding-top: 3px;
}


.comment-header h5 {
  text-align: left;
  font-size: 14px;
  overflow: hidden;
  height: 20px;
}

.comment-main {
  padding: 0 10px ;
  text-align: justify;
  position: relative;
  height: 90px;
  display: flex;
  align-items:center;
}

.comment-footer {
  background-color: #F5FCFF;
}

.delete {
  color: black;
  font-weight: 900;
  cursor: pointer;
  margin: unset;
  text-align: center;
  position:absolute;
  top: 0.2rem;
  right: 0.5rem;
  transition: all 0.5s;
}

.delete:hover {
  cursor: pointer;
}

.comment-card p {
  font-size: 10px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.pagination li {
  color: black;
  padding: 0 8px;
  font-size: 14px;
}

.pagination li a {
  border: 1px solid #ffffff ;
  padding: 1px 6px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.pagination .active a {
  background-color: #55ACEE ;
  padding: 1px 6px;
  outline: none ;
  color: white;
  transition: all 1s;
}

.pagination li:focus {
  outline: 1px solid
}

ul {
  list-style-type:none;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 80%; 
    /* min-width: 400px; */
  }
  .comments-grid {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  .comment-card {
    /* margin-bottom: 0px; */
    width: 80%;
  }

  .pagination {
    justify-content: unset;
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-top: 10px;
  }
  nav ul {
    padding: 0 5px;
    margin-right: 10px;
    font-size: 12px;
  }
  nav a {
    text-decoration: none;
    color: white;
    margin: 5px;
  }
  nav ul li:last-child {
    background-color: unset;
  }
  
  nav ul li:last-child a {
    color: white;
    font-size: 24px;
  }
  nav ul li:last-child a:hover {
    color: unset
  }
  .header {
    display: block;
    /* margin-bottom: 30px; */
  }
  .comment-create {
    display: block;
  }
  .add-form {
    position: absolute;
    left: 40px;
  }
  .btn {
    position: absolute;
    right: 30px;
    top: 135px;
    font-size: 14px;
    height: 30px !important;
  }

}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    width: 80%; 
  }
  .comments-grid {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    column-gap: 0.7rem;
    row-gap: 0.8rem;
  }
  .comment-card:nth-child(3) {
    grid-column: 1 / 3;
  }
  .comment-card:nth-child(5) {
    grid-column: 2;
  }
  .comment-card:nth-child(6) {
    grid-column: 1 / 3;
  }
  .comment-card:nth-child(9) {
    grid-column: 1 / 3;
  }
  .comment-card:nth-child(11) {
     grid-column: 2;
  }
  .comment-card:nth-child(12) {
    grid-column: 1 / 3;
  }
  .pagination {
    justify-content: unset;
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-top: 10px;
    padding-left: 20%;
  }
  .comments-create {
    width: 280px;
  } 
}

@media (min-width: 768px) and (max-width: 1024px) {
  .comments-grid {
    width: 80%; 
  }
  .container {
    width: 80%;
  }
}